*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{font-family: Arial;
}
label.logo{
  color: skyblue;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 5px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: skyblue;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.activve, a:hover{
  background: white;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
#marquee{
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 100px){
  .wrapper{
    width: 100%;
  }
}
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: sans-serif ;
}
body{
  background-color: rgb(42, 8, 165);
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  gap: 25px;
  margin-top: 100px;
}
.card{
  width: 325px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0 / 0.3);
  overflow: hidden;
  transition: transfrom 0.6s ease;
}
.card:hover{
  transform: translateY(-20px);
}
.card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-content{
  padding: 25px;
}
.card-content h1{
  font-size: 25px;
  margin-bottom: 20px;
}
.card-content p{
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}
.card-button{
  display: inline-block;
  background-color: rgb(5, 109, 245);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.cardvideo {
  width: 100%;
  height: auto;
}

body{
  background: rgb(7, 247, 247);
  font-family: monospace;
}
div{
  font-size: 25px;
  color: white;
  text-align: justify;
  background-color: rgb(3, 17, 143);
  border: 25px rgb(84, 92, 92);
  padding: 50px;
  margin: 20px;
}

.infotaekwondo{
  border-radius: 10px;
  background-color: darkblue;
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  text-align: justify ;
}